<nav id="nav">
    <ul>
        <div class="lis">
            <li><a href="/petition/profile/edit"><i
                    >{{currentUser.first_name}}</i>
                    |</a>
            </li>
            {{#if notSigned}}
            <li><a href="/petition/signPetition">Sign Here |</a></li>
            {{/if }}
            <li><a href="/petition/logout">Logout |</a></li>
        </div>
    </ul>
</nav>
<h1>These are our {{allUserData.length}} Signers</h1>
<ul class="signers">
    {{#each allUserData}}
        {{#if url}}
            <div class="liBox">
                <li>Name: <p><a
                        target="_blank"
                        href="{{url}}"
                    >{{first_name}} {{last_name}}</a></p><p>Age: {{#if age}} {{age}} {{else}} - {{/if}}
                        <p>City: <a
                        href="/petition/signers/{{city}}"
                    >{{city}}</a></p></li>
            </div>
        {{else}}
            <div class="liBox">
                <li>Name: 
                    <p>{{first_name}} {{last_name}}</p>
                    <p>Age: 
                    {{#if age}} {{age}} {{else}} - {{/if}}</p>
                    <p>City: <a href="/petition/signers/{{city}}">{{city}}</a></p></li>
            </div>
        {{/if}}
    {{/each}}
</ul>