<nav id="nav">
    <ul>
        <div class="lis">
            <li><a href="/petition/profile/edit"><i
                    >{{currentUser.first_name}}</i>
                    |</a>
            </li>
            <li><a href="/petition/logout">Logout |</a></li>
        </div>
    </ul>
</nav>
<h1>These are our
    {{UserDataByCity.length}}
    Signers from
    {{city}}
</h1>
<ul class="signers">
    {{#each UserDataByCity}}
        {{#if url}}
            <li>Name:<br />
                <a href="{{url}}">{{first_name}} {{last_name}}</a><br />
                Age:
                {{age}}<br />
                City:
                <a href="/petition/signers/{{city}}">{{city}}</a></li><br />
        {{else}}
            <li>Name:<br />
                <p href="{{url}}">{{first_name}} {{last_name}}</p>
                Age:
                {{age}}<br />
                City:
                <a href="/petition/signers/{{city}}">{{city}}</a></li><br />
        {{/if}}
    {{/each}}
</ul>